<div ng-repeat="category in DemandForm_VM.categories">
	<div class="product-container" ng-show="category.Shown">
		<div id="{{category.UniqueName}}">
			<div class="d-flex" id="collapse{{category.Id}}">
				<button class="btn" data-toggle="collapse" data-target="#{{category.Id}}" aria-expanded="true" aria-controls="{{category.Id}}">
					<span class="category-name">{{category.Name}}</span>
				</button>
				<button id="addProduct" class="btn btn-orange" ng-click="DemandForm_VM.addNewProduct(category.Id)">
					<i class="fa fa-plus"></i> ÜRÜN EKLE
				</button>
			</div>
	
		</div>
		<div id="{{category.Id}}" ng-show="category.Shown" class="table-container mt-2 collapse in" aria-labelledby="collapse{{category.Id}}" data-parent="#{{category.UniqueName}}">
			<div class="portlet-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="35%">Ürün Adı</th>
							<th width="35%">Açıklama</th>
							<th width="15%" class="text-right">Mevcut Fiyat</th>
							<th width="15%" class="text-center">
								<span class="red-text">Yeni Fiyat</span>
							</th>
						</tr>
					</thead>
					<tbody>
	
						<tr ng-repeat="product in category.Products track by $index" ng-show="product.Shown"
							 ng-class="{'edit-field': product.isNewProduct, 'ifrowselected':product.demand.length > 0 && product.valid}" id="{{product.ProductId}}">
							<td>
								<span ng-bind="product.Name"></span>
							</td>
							<td ng-bind="product.Description"></td>
							<td class="text-right">{{product.Price}} TL</td>
							<td class="text-center" ng-hide="product.isNewProduct">
								<div class="d-flex">
									<input size="10" class="text-center col-md-10" type="text" ng-model="product.newprice" ng-blur="DemandForm_VM.demandRequestBlur($event, product)" ng-change="DemandForm_VM.onDemandRequest(product)"/>
									<i class="fas fa-exclamation-circle red-text col-md-2 mt-2" ng-show="!product.valid && !!product.newprice"
										title="{{DemandForm_VM.Product.priceValidationErrMsg}}">
									</i>
								</div>
							</td>
	
							<td ng-show="product.isNewProduct">
								<button id="editProduct" class="btn btn-blue pull-right" ng-click="DemandForm_VM.editDraftProduct(product)">
									<i class="fa fa-pencil"></i> DÜZENLE
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

