<div ng-cloak ng-controller="MenuDemandFormController as DemandForm_VM" class="px-3">

	<div id="searchBox" style="margin: 20px 0">
		<input type="text" id="stbox" class="form-control" placeholder="Ürün Adı Giriniz..." ng-model="DemandForm_VM.productSearchText" ng-change="DemandForm_VM.filterProducts()">
	</div>

<div style="min-height: 100vh">
	<div class="d-flex mb-2 justify-content-between" ng-hide="!DemandForm_VM.productSearchText" style="border-bottom: 1px solid #ddd;">
		<span class="mt-1">Arama Sonuçları</span>
		<div style="border-left: 4px solid">
			<button class="btn" ng-click="DemandForm_VM.clearFilter()">
				<i class="fas fa-arrow-left"></i>
				<span>Ürün Listesine Geri Dön</span>
			</button>
		</div>
	</div>
	<menu-demand-view-template></menu-demand-view-template>
	<!-- <div ng-repeat="category in DemandForm_VM.categories"> -->
		<!-- <ng-include src="'views/subViews/menuDemandViewComponent.html'"></ng-include> -->
	<!-- </div> -->
</div>
	
	<hr>

	<!-- <ng-include src="'views/subViews/menuDemandMyDemandsList.html'"></ng-include> -->
	<menu-demand-list-template></menu-demand-list-template>
	
	<!-- <ng-include src="'views/subViews/menuDemandAddProductModal.html'"></ng-include> -->
	<add-product-modal-template></add-product-modal-template>
	
</div>

